NODE_ENV=
PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

JWT_ADMIN_SECRET=
JWT_ADMIN_EXPIRES_IN=

RATE_LIMIT_MAX_ATTEMPTS=
RATE_LIMIT_BLOCK_DURATION=